@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'moglan';
  src: url('../public/fonts/moglan_ttf-webfont.woff') format('woff');
  src: url('../public/fonts/moglan_ttf-webfont.woff2') format('woff2');
  font-weight: 600 !important;
  font-style: normal;
}

@font-face {
  font-family: 'GT';
  src: url('../public/fonts/GT-Haptik-Regular.woff') format('woff');
  font-weight: 100 !important;
}

@font-face {
  font-family: 'Sathoshi';
  src: url('../public/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Monument';
  src: url('../public/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: 700 !important;
}

@font-face {
  font-family: 'Monument-R';
  src: url('../public/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 700 !important;
}

body {
  font-family: "Sathoshi", sans-serif !important;
  background-color: #FAFAFA !important;
  cursor: default;
  overflow-x: hidden;
}
/* Up and down animation */
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance */
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply the up and down animation */
.animate-up-down {
  animation: upDown 1.5s ease-in-out infinite;
}
