@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'moglan';
  src: url('../public/fonts/moglan_ttf-webfont.woff') format('woff');
  src: url('../public/fonts/moglan_ttf-webfont.woff2') format('woff2');
  font-weight: 600 !important;
  font-style: normal;
}


@font-face {
  font-family: 'GT';
  src: url('../public/fonts/GT-Haptik-Regular.woff') format('woff');
  font-weight: 100 !important;
}

body {
  font-family: "moglan", sans-serif !important;
  background-color: #FAFAFA !important;
  cursor: default;
}

